
@{
	ViewBag.Title = "Hakkimizda";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-md-12">
	<div class="row">
		<div class="col-md-12">
			<p>
				<h2>Biz Kimiz ?</h2><br />
				&nbsp;&nbsp; Nakliyecibul, 2019 yılında İstanbul merkezli kurulmuş olan evden eve nakliyat hizmeti veren bir firmadır. Yılların vermiş olduğu deneyimin yanı sıra gerçekleştirmiş olduğumuz işlerin verdiği güven ve tecrübeyle evden eve nakliyat ve taşımacılık hizmetlerini sunmaya aracı firma olarak siz değerli müşterilerimize hizmet sunmaktayız.
			</p>
			<p>
				&nbsp;&nbsp; Nakliyecibul olarak kuruluş başarı hikayesi ile nakliyat sektöründe lider aracı firma olmayı hedeflemekle beraber, kalite anlayışı, geniş nakliyeci filosu ve hizmet çeşitliliği ile sektöre katma değer sağlamaya ve yeni açılımlar yaratmayı hedeflemekteyiz. Müşteri odaklı yaklaşımı ile sektörün ihtiyaç ve beklentilerini, hizmetlerine en iyi şekilde yansıtan Nakliyecibul olarak sürekli gelişime devam edeceğiz.
			</p>
			<ul>
				<li>
					<b>Fiyat Garantisi:</b> Nakliyecibul aracılığıyla almış olduğunuz fiyat bilgisi, belirtmiş olduğunuz bilgiler dahilinde sabitlenir.
				</li>
				<li>
					<b>Hasar Güvencesi: </b>Eşyalarınız evinizden alınırken kontrol edilir, sonradan oluşabilecek hasarlar nakliye ekibine karşılatılarak eşyalarınız güvence altına alınır.
				</li>
				<li>
					<b>Taşıma Profesyonelliği:</b>Nakliye ekiplerimizle yüz yüze görüşerek gerekli evrakları kontrol edilip, profesyonel taşıma hizmeti sağlanır.
				</li>
			</ul>
			<br /><br />
		</div>
	</div>
</div>




<div class="col-md-12 ">
	<div class="row  popular-car-gird">

	
			<div class="col-md-3 mb-3">
				<a class="black-text" href="https://www.linkedin.com/in/b%C3%BC%C5%9Fra-ba%C5%9Faran-9b529b102/"
				   data-size="1600x1067">
					<img alt="picture" src="~/assets/img/Profile/busrabasaran.jpg"
						 class="img-thumbnail">
					<h6 class="text-center my-3">Büşra Başaran</h6>
				</a>
			</div>
			<div class="col-md-3 mb-3">
				<a class="black-text" href="https://www.linkedin.com/in/fadile-avc%C4%B1-773473117/"
				   data-size="1600x1067">
					<img alt="picture" src="~/assets/img/Profile/Fadileavci.jpg"
						 class="img-thumbnail" />
					<h6 class="text-center my-3">Fadile Avcı</h6>
				</a>
			</div>
			<div class="col-md-3 mb-3">
				<a class="black-text" href="https://www.linkedin.com/in/g%C3%BClbahar-inan-6bb87711b/"
				   data-size="1600x1067">
					<img alt="picture" src="~/assets/img/Profile/Facetune_12-05-2019-14-27-11.jpg"
						 class="img-thumbnail" />
					<h6 class="text-center my-3">Gülbahar İnan</h6>
				</a>
			</div>
			<div class="col-md-3 mb-3">
				<a class="black-text" href="https://www.linkedin.com/in/k%C3%BCbra-can-30b87b171/"
				   data-size="1600x1067">
					<img alt="picture" src="~/assets/img/Profile/Kubracan.jpg"
						 class="img-thumbnail" />
					<h6 class="text-center my-3">Kübra CAN</h6>
				</a>
			</div>
	</div>
</div>
	



















