
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Bizimle İletişime Geçin</h4>
<p>
    Bizimle iletişim kurarak evden eve nakliyat için iki mesafe arası ücreti veya sıkça sorulan sorular hakkında detaylı bilgi alabilirsiniz. Aşağıdaki formu doldurarak veya
    <a href="mailto:nakliyecibul34@gmail.com">nakliyecibul34@gmail.com</a>&nbsp;  adresinden müşteri temsilcisi ile iletişim kurabilirsiniz.
</p>
<br />
<!--== Contact Page Area Start ==-->
<br />
<div class="contact-page-wrao section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 fa-border">
                <div class="contact-form">
                    <form action="index.html">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="name-input">
                                    <input type="text" placeholder="Full Name">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="email-input">
                                    <input type="email" placeholder="Email Address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="website-input">
                                    <input type="url" placeholder="Website">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="subject-input">
                                    <input type="text" placeholder="Subject">
                                </div>
                            </div>
                        </div>

                        <div class="message-input">
                            <textarea name="review" cols="30" rows="10" placeholder="Message"></textarea>
                        </div>

                        <div class="input-submit">
                            <button type="submit">Submit Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Contact Page Area End ==-->
